<div class="jumbotron">
    <h1>Naval Command Interface</h1>
    <p class="lead">To manage a nation's naval fleet, using RESTful requests.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="/Vessels">View Active Vessels</a>
    </div>
</div>
